@import url(https://fonts.googleapis.com/css?family=Lobster+Two|VT323);

body {
	color: #000000;
	background-size: contain;
	background-color: white;
	font-family: Arial;
}

h1	{
	color: #FFFFFF;
	text-transform: capitalize;
	background-color: black;
	font-family: 'VT323', monospace;
	font-weight: bold;
}

#slogan	{
	font-style: italic;
	color: #006666;
	text-transform: uppercase;
	font-family: Georgia;
}

a {
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	color: #0000FF;
	font-family: 'Lobster Two', cursive;
	letter-spacing: 1.5px;
}

ul {
	text-align: center;
	list-style-type: none;
	background-color: white;
}

.hook {
	font-style: italic;
	font-weight: bold;
	font-family: Arial;
	background-color: grey;
}